{{define "footer" -}}
<footer class="text-white bg-[#2a2845]">
  <div class="wrap mx-auto max-w-screen-lg py-12 space-y-6 px-3">
    <div
      class="links items-center md:flex md:space-x-6 space-y-2 md:space-y-0 md:mx-auto md:w-fit"
    >
      <div class="item hover:underline hover:cursor-pointer">Liên hệ</div>
      <div class="item hover:underline hover:cursor-pointer">
        Danh sách các research
      </div>
      <div class="item hover:underline hover:cursor-pointer">
        Coin cho người mới
      </div>
    </div>
    <div class="site-name text-center">2023, @Ngaocoin Blog</div>
    <div
      class="final_message text-gray-200 text-center mx-auto max-w-screen-sm"
    >
      Blog này được vận hành bởi một người đầu tư coin nghiệp dư. Mục đích chính
      "Ngáo coin" đơn giản là chia sẻ các góc nhìn cá nhân, kinh nghiệm và kiến
      thức lúc nghiên cứu về các dự án crypto. Tất cả quan điểm hoàn toàn không
      phải là lời khuyên đầu tư. Vậy nên chúng tôi miễn trừ trách nghiệm đối với
      bất kỳ thiệt hại đáng tiếc nào.
    </div>
  </div>
</footer>
{{end}}
