{{define "header" -}}
<header class="bg-black">
  <div
    class="wrap text-white mx-auto max-w-screen-lg px-3 flex items-center justify-between"
  >
    <div class="logo text-lg text-semibold py-3">
      <a href="https://{{.SiteMetadata.Domain}}"
        >{{.SiteMetadata.Title}}'s Blog</a
      >
    </div>
    <div class="menu-right flex items-center space-x-2">
      <div class="icon h-8 w-8 bg-gray-100 rounded"></div>
      <div class="icon h-8 w-8 bg-gray-100 rounded"></div>
      <div class="icon h-8 w-8 bg-gray-100 rounded"></div>
    </div>
  </div>
</header>
<div class="banner text-white bg-gradient-to-r from-violet-500 to-fuchsia-500">
  <div class="wrap max-w-screen-lg mx-auto py-24 px-3 space-y-3">
    <div class="text-6xl font-medium">{{.SiteMetadata.Title}}</div>
    <div class="text-3xl text-white">{{.SiteMetadata.Slogan}}</div>
  </div>
</div>
{{end}}
