{{define "meta_header" -}}
<head>
  <title>{{.SiteMetadata.Title}} | {{.SiteMetadata.SiteName}}</title>
  <!--  Essential META Tags -->
  <meta property="og:type" content="{{.SiteMetadata.Type}}" />
  <meta property="og:title" content="{{.SiteMetadata.Title}}" />
  <meta property="og:image" content="{{.SiteMetadata.Image}}" />
  <meta property="og:url" content="{{.SiteMetadata.URL}}" />
  <meta name="twitter:card" content="{{.SiteMetadata.Image}}" />

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="index, follow" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link
    rel="stylesheet"
    href="https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css"
  />
  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-5VCLJZ6");
  </script>
  <!-- End Google Tag Manager -->
</head>
{{end}}
