{{define "single_post"}}
<!DOCTYPE html>
<html lang="en">
  {{template "meta_header" .}}
  <body>
    {{template "single_healder" .}}
    <main class="wrap max-w-screen-md mx-auto">
      <article class="py-8 px-3">
        <div class="header space-y-4 pb-8">
          <div class="text-5xl font-bold">{{.SinglePost.Metadata.Title}}</div>
          <div class="text-gray-600">
            by
            <span class="font-medium text-black"
              >{{.SinglePost.Metadata.Author}}</span
            >, in
            <span class="font-medium text-black"
              >{{.SinglePost.Metadata.Category}}</span
            >
          </div>
        </div>
        <div class="content prose leading-8 text-lg">{{.SinglePost.Html}}</div>
      </article>
      <div class="author border-t border-b py-12">
        <div class="w-fit mx-auto flex items-center space-x-3">
          <div class="avatar h-24 w-24 bg-gray-600 rounded-full">
            <img src="https://i.ibb.co/yfPwMfW/307463652-783133459333644-6214407488867019336-n.jpg" class="h-24 w-24"></div>
          <div class="infor">
            <div class="text-lg font-medium">
              {{.SinglePost.Metadata.Author}}
            </div>
            <div class="description text-gray-600">
              Fulltime bốc phét, parttime thợ code
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="other">
      <div class="wrap mx-auto max-w-screen-lg py-12 px-3">
        <div class="title text-center text-4xl pb-6">Other posts</div>
        <div class="content grid md:grid-cols-3 gap-x-3 gap-y-6">
          {{range $index, $item :=.Others}} {{template "single_item_block"
          $item}} {{end}}
        </div>
      </div>
    </div>
    {{template "footer" -}}
  </body>
</html>
{{end}}
